<div class="subheader">
	<div class="container">
		<div class="row">
			<div class="col-md-2">
				<h2>Activar cuentas</h2>
			</div>
			<div class="col-md-2">
				<p class="active">Pendientes</p>
			</div>
			<div class="col-md-2">
				<p>Activas</p>
			</div>
		</div>
	</div>
</div>
<div class="container activate-account">
	<div class="container active-account">
		<div class="row">
			<div class="col-md-4">
				<div class="card shadow-second" (click)="changeView('activateAccountStepOne')" routerLinkActive="active">
					<div class="profile-image">
						<img src="assets/images/tmp/promo1.jpg">
					</div>
					<h5>Adrian Alejandro Gallegos Garza</h5>
					<p>
						Alias: <span>adrian_gallegos</span><br>
						No. de cuenta: <span>***1576</span><br>
						Monto máximo: <span>$1,500.00</span>
					</p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card shadow-second" (click)="changeView('activateAccountStepOne')" routerLinkActive="active">
					<div class="profile-image">
						<img src="assets/images/tmp/promo1.jpg">
					</div>
					<h5>Adrian Alejandro Gallegos Garza</h5>
					<p>
						Alias: <span>adrian_gallegos</span><br>
						No. de cuenta: <span>***1576</span><br>
						Monto máximo: <span>$1,500.00</span>
					</p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card shadow-second" (click)="changeView('activateAccountStepOne')" routerLinkActive="active">
					<div class="profile-image">
						<img src="assets/images/tmp/promo1.jpg">
					</div>
					<h5>Adrian Alejandro Gallegos Garza</h5>
					<p>
						Alias: <span>adrian_gallegos</span><br>
						No. de cuenta: <span>***1576</span><br>
						Monto máximo: <span>$1,500.00</span>
					</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="card shadow-second" (click)="changeView('activateAccountStepOne')" routerLinkActive="active">
					<div class="profile-image">
						<img src="assets/images/tmp/promo1.jpg">
					</div>
					<h5>Adrian Alejandro Gallegos Garza</h5>
					<p>
						Alias: <span>adrian_gallegos</span><br>
						No. de cuenta: <span>***1576</span><br>
						Monto máximo: <span>$1,500.00</span>
					</p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card shadow-second" (click)="changeView('activateAccountStepOne')" routerLinkActive="active">
					<div class="profile-image">
						<img src="assets/images/tmp/promo1.jpg">
					</div>
					<h5>Adrian Alejandro Gallegos Garza</h5>
					<p>
						Alias: <span>adrian_gallegos</span><br>
						No. de cuenta: <span>***1576</span><br>
						Monto máximo: <span>$1,500.00</span>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>