<div class="subheader">
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<h2>Activar cuentas</h2>
			</div>
			<div class="col-md-3" (click)="opt = 'ACTIVATED'">
				<p [ngClass]="{'active': opt === 'ACTIVATED'}">Activas</p>
			</div>
			<div class="col-md-3" (click)="opt = 'UNACTIVATED'">
				<p [ngClass]="{'active': opt === 'UNACTIVATED'}">Pendientes</p>
			</div>
		</div>
	</div>
</div>
<div class="container activate-account">
	<div class="container active-account">
		<div class="row">
			<div class="col-md-4" *ngFor="let thirdAccount of thirdAccounts">
				<div class="card shadow-second" *ngIf="thirdAccount.status === opt">
					<div class="card shadow-second" (click)="activateAccount(thirdAccount)" routerLinkActive="active">
						<h5>{{thirdAccount.beneficiary}}</h5>
						<p>
							Alias: <span>{{thirdAccount.alias}}</span><br>
							No. de cuenta: <span>***{{thirdAccount.last_digits}}</span><br>
							Monto M&aacute;ximo: <span>{{thirdAccount.maximum_amount}}</span><br>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>