<div class="subheader">
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<h2>Activar cuentas</h2>
			</div>
			<div class="col-md-3">
				<p class="active">Pendientes</p>
			</div>
			<div class="col-md-3">
				<p>Activas</p>
			</div>
		</div>
	</div>
</div>
<div class="container activate-account">
	<div class="container active-account">
		<div class="row">
			<div class="col-md-4" *ngFor="let thirdAccount of thirdAccounts">
				<div class="card shadow-second">
					<div class="card shadow-second" (click)="changeView('activateAccountStepOne')" routerLinkActive="active">
						<h5>{{thirdAccount.beneficiary}}</h5>
						<p>
							Alias: <span>{{thirdAccount.alias}}</span><br>
							No. de cuenta: <span>***{{thirdAccount.last_digits}}</span><br>
							Monto máximo: <span>$1,500.00</span>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>