<app-navbar></app-navbar>

<div *ngIf="myUrl == 'activateAccount'">
	<app-activateAccountList (routeView)="changeViewHandler($event)"></app-activateAccountList>
</div>
<div *ngIf="myUrl == 'activateAccountStepOne'">
	<app-activateAccountStepOne (routeView)="changeViewHandler($event)"></app-activateAccountStepOne>
</div>
<div *ngIf="myUrl == 'activateAccountStepTwo'">
	<app-activateAccountStepTwo (routeView)="changeViewHandler($event)"></app-activateAccountStepTwo>
</div>

<app-footer></app-footer>