<app-navbar></app-navbar>
<div class="cont_gral">
    <div id="subtitle">
        <h6 class="container">
            Contacto
        </h6>
    </div>
    <div class="row">
    <div class="col-md-1 offset-md-1"></div>
    <div class="col-md-8 cont">
        <p class="strong">En CSN Cooperativa Financiera valoramos tu opinión</p>
        <span>Para cualquier duda o comentario nos puedes contactar a través de los siguientes medios</span>
        <div class="row">
            <div class="col-md-6 borde">
                <div class="cont_item">
                    <i class="icon-call icon"></i>
                    <div>
                        <p class="p_contact">Teléfono de atención</p>
                        <p class="p_contact">01 800 7100 800</p>
                    </div>
                </div>
                <div class="cont_item">
                    <i class="icon-call icon"></i>
                    <div>
                        <p class="p_contact">Teléfono de atención</p>
                        <p class="p_contact">01 800 7100 800</p>
                    </div>
                </div>
                <div class="cont_item">
                    <i class="icon-call icon"></i>
                    <div>
                        <p class="p_contact">Teléfono de atención</p>
                        <p class="p_contact">01 800 7100 800</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="cont_item">
                    <i class="icon-call icon"></i>
                    <div>
                        <p class="p_contact">Teléfono de atención</p>
                        <p class="p_contact">01 800 7100 800</p>
                    </div>
                </div>
                <div class="cont_item">
                    <i class="icon-call icon"></i>
                    <div>
                        <p class="p_contact">Teléfono de atención</p>
                        <p class="p_contact">01 800 7100 800</p>
                    </div>
                </div>
                <div class="cont_item">
                    <i class="icon-call icon"></i>
                    <div>
                        <p class="p_contact">Teléfono de atención</p>
                        <p class="p_contact">01 800 7100 800</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-1 offset-md-1"></div>
    </div>
</div>
<app-footer></app-footer>