<app-navbar></app-navbar>
<div class="subheader">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-xs-left">
                Contacto
            </div>
        </div>
    </div>
</div>
<div class="container contact">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card shadow-second text-xs-center">
                <h3>En CSN Cooperativa Financiera valoramos tu opinión</h3>
                <p>Para cualquier duda o comentario nos puedes contactar a través de los siguientes medios</p>
                <div class="row">
                    <div class="col-md-6">
                        <div>
                            <i class="icon icon-call"></i>
                            <span>Teléfono de atenci&oacute;n<br>
                            <a href="tel:018007100800">01 800 7100 800</a></span>
                        </div>
                        <div>
                            <i class="icon icon-mail"></i>
                            <span>Correo electr&oacute;nico<br>
                            <a href="mailto:info@csn.com">info@csn.com</a></span>
                        </div>
                        <div>
                            <i class="icon icon-clock"></i>
                            <span>Horarios de atenci&oacute;n<br>
                            Lunes - Viernes de 9:00 a 16:00 Hrs.</span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div>
                            <span>S&iacute;guenos en nuestras redes sociales:</span>
                        </div>
                        <div>
                            <i class="icon icon-facebook"></i>
                            <span>Facebook<br>
                            <a href="http://www.facebook.com/csncooperativafinanciera" target="_blank">/csncooperativafinanciera</a></span>
                        </div>
                        <div>
                            <i class="icon icon-twitter"></i>
                            <span>Twitter<br>
                            <a href="http://www.twitter.com/csncooperativafinanciera" target="_blank">@csncooperativafinanciera</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>