<app-navbar></app-navbar>
<div class="subheader">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-xs-left">
                Contacto
            </div>
        </div>
    </div>
</div>
<div class="container contact">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card shadow-second text-xs-center">
                <h3>En CSN Cooperativa Financiera valoramos tu opinión</h3>
                <p>Para cualquier duda o comentario nos puedes contactar a través de los siguientes medios</p>
                <div class="row">
                    <div class="col-md-6">
                        <div>
                            <i class="icon icon-call"></i>
                            <span>Teléfono de atenci&oacute;n<br>
                            <a href="tel:018002242020">01 800 224 2020</a></span>
                        </div>
                        <div>
                            <i class="icon icon-mail"></i>
                            <span>Correo electr&oacute;nico<br>
                            <a href="mailto:csc@csn.coop">csc@csn.coop</a></span>
                        </div>
                        <div>
                            <i class="icon icon-world"></i>
                            <span>Sitio web<br>
                            <a href="http://www.csn.coop" target="_blank">www.csn.coop</a></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div>
                            <i class="icon icon-facebook"></i>
                            <span>Facebook<br>
                            <a href="http://www.facebook.com/csncooperativafinanciera" target="_blank">/csncooperativafinanciera</a></span>
                        </div>
                        <div>
                            <i class="icon icon-twitter"></i>
                            <span>Twitter<br>
                            <a href="http://www.twitter.com/csncooperativa" target="_blank">@csncooperativa</a></span>
                        </div>
                         <div>
                            <i class="icon icon-youtube"></i>
                            <span>YouTube<br>
                            <a href="https://www.youtube.com/user/CSNMX" target="_blank">CSN Cooperativa Financiera</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>