<div class="card shadow-second text-xs-center confirmationBox">
    <div class="row">
        <div class="col-md-12 text-xs-left">
            <p (click)="changeView('login')" routerLinkActive="active">
                <span class="text-xs-center"><i class="icon icon-back"></i></span>
                <span>Regresar</span>
            </p>
        </div>
    </div>
    <h3>{{checkLoginResponse.client_name}}</h3>
    <h5>Elige tu imagen de seguridad para continuar</h5>
    <div class="row">
        <div class="col-md-12">
            <ul>
                <li (click)="selectImage(checkLoginResponse.images_list[0].image_id)" [ngClass]="{'active': checkLoginResponse.images_list[0].image_id === imageId}">
                    <span><i class="icon icon-thick"></i></span>
                    <img class="img" src="{{environment.baseURL + checkLoginResponse.images_list[0].url}}" alt="img1" />
                </li>
                <li (click)="selectImage(checkLoginResponse.images_list[1].image_id)" [ngClass]="{'active': checkLoginResponse.images_list[1].image_id === imageId}">
                    <span><i class="icon icon-thick"></i></span>
                    <img class="img" src="{{environment.baseURL + checkLoginResponse.images_list[1].url}}" alt="img1" />
                </li>
                <li (click)="selectImage(checkLoginResponse.images_list[2].image_id)" [ngClass]="{'active': checkLoginResponse.images_list[2].image_id === imageId}">
                    <span><i class="icon icon-thick"></i></span>
                    <img class="img" src="{{environment.baseURL + checkLoginResponse.images_list[2].url}}" alt="img1" />
                </li>
                <li (click)="selectImage(checkLoginResponse.images_list[3].image_id)" [ngClass]="{'active': checkLoginResponse.images_list[3].image_id === imageId}">
                    <span><i class="icon icon-thick"></i></span>
                    <img class="img" src="{{environment.baseURL + checkLoginResponse.images_list[3].url}}" alt="img1" />
                </li>
                <li (click)="selectImage(checkLoginResponse.images_list[4].image_id)" [ngClass]="{'active': checkLoginResponse.images_list[4].image_id === imageId}">
                    <span><i class="icon icon-thick"></i></span>
                    <img class="img" src="{{environment.baseURL + checkLoginResponse.images_list[4].url}}" alt="img1" />
                </li>        
            </ul>
            <ul>
                <li (click)="selectImage(checkLoginResponse.images_list[5].image_id)" [ngClass]="{'active': checkLoginResponse.images_list[5].image_id === imageId}">
                    <span><i class="icon icon-thick"></i></span>
                    <img class="img" src="{{environment.baseURL + checkLoginResponse.images_list[5].url}}" alt="img1" />
                </li>
                <li (click)="selectImage(checkLoginResponse.images_list[6].image_id)" [ngClass]="{'active': checkLoginResponse.images_list[6].image_id === imageId}">
                    <span><i class="icon icon-thick"></i></span>
                    <img class="img" src="{{environment.baseURL + checkLoginResponse.images_list[6].url}}" alt="img1" />
                </li>
                <li (click)="selectImage(checkLoginResponse.images_list[7].image_id)" [ngClass]="{'active': checkLoginResponse.images_list[7].image_id === imageId}">
                    <span><i class="icon icon-thick"></i></span>
                    <img class="img" src="{{environment.baseURL + checkLoginResponse.images_list[7].url}}" alt="img1" />
                </li>
                <li (click)="selectImage(checkLoginResponse.images_list[8].image_id)" [ngClass]="{'active': checkLoginResponse.images_list[8].image_id === imageId}">
                    <span><i class="icon icon-thick"></i></span>
                    <img class="img" src="{{environment.baseURL + checkLoginResponse.images_list[8].url}}" alt="img1" />
                </li>
                <li (click)="selectImage(checkLoginResponse.images_list[9].image_id)" [ngClass]="{'active': checkLoginResponse.images_list[9].image_id === imageId}">
                    <span><i class="icon icon-thick"></i></span>
                    <img class="img" src="{{environment.baseURL + checkLoginResponse.images_list[9].url}}" alt="img1" />
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <label class="input-with-icon">
                <i class="icon icon-lock"></i>
                <input type="password" placeholder="Contraseña" id="password" name="password" required [(ngModel)] = "password" />
            </label>
            <a class="text-xs-right" routerLink="/reactivation" routerLinkActive="active">Olvidé mi contraseña</a>
            <button (click)="login()" routerLinkActive="active" class="btn-confirm btn-block">Entrar</button>
        </div>
    </div>
</div>