<header id="activation-header">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <img src="assets/images/logo-small.svg" alt="Caja San Nicolas Cooperativa Financiera">
            </div>
            <div class="col-md-10">
                <a href="https://www.csn.coop/index.php/" target="_blank">Visitar la p&aacute;gina web</a>
                <a routerLink="/login" routerLinkActive="active">Ir a inicio</a>
                <button routerLink="/login" routerLinkActive="active" class="btn-white">Iniciar Sesi&oacute;n</button>
            </div>
        </div>
    </div>
    <div class="activation-subtitle">
        <div class="container">
            <h2>{{title}}</h2>
        </div>
    </div>
</header>