<header id="activation-header">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <img src="assets/images/logo-small.svg" alt="Caja San Nicolas Cooperativa Financiera">
            </div>
            <div class="col-md-10">
                <button class="btn-white" (click)="gotoLogin()">Ir a inicio</button>
            </div>
        </div>
    </div>
    <div class="activation-subtitle">
        <div class="container">
            <h2>{{title}}</h2>
        </div>
    </div>
</header>