<h5>Ingresa el c&oacute;digo de activaci&oacute;n que obtuviste del call center y tu n&uacute;mero de socio para continuar</h5>
<div class="row">
	<div class="col-md-10 offset-md-1">
		<label class="active">
			<span>Código de activación</span>
			<input type="number" placeholder="Código de activación" value="123" />
			<i class="icon icon-eye"></i>
		</label>
		<label>
			<span>Número de socio</span>
			<input type="number" placeholder="Número de socio"/>
			<i class="icon icon-eye"></i>
		</label>
		<p>Si no tienes o no haz recibido tu c&oacute;digo de activaci&oacute;n, puedes marcar a este número <a href="tel:0180012345678">01 800 1234 5678</a> y obtener tu c&oacute;digo de activaci&oacute;n.</p>
	</div>
</div>
<div class="row">
	<div class="col-md-10 offset-md-1 text-xs-right">
		<button routerLink="/login" routerLinkActive="active" class="btn-confirm">Cancelar</button>
		<button (click)="changeView('step-2')" routerLinkActive="active" class="btn-green">Continuar</button>
	</div>
</div>