<h5>Llama a nuestro Call Center al <b><a href="tel:018002242020">01 800 224 2020</a></b> y solicita tu código de activación.<br>Si ya lo tienes, ingrésalo a continuación.</h5>
<div class="row">
	<form [formGroup]="activation1Form" class="col-md-10 offset-md-1">
		<label class="">
			<span *ngIf="activation_code.value != ''">Código de activación</span>
			<input type="password" placeholder="Código de activación" value="" id="activationPassword" name="activation_code" [(ngModel)] = "preregisterRequest.activation_code" 
			#activation_code autocomplete="off" formControlName="activation_code" (keypress)="numbers($event)" [maxLength]="6" />
			<i *ngIf="activation_code.value != ''" class="icon icon-eye" (click)="showPass('activationPassword');"></i>
		</label>
		<label class="">
			<span *ngIf="user_login.value != ''">Número de socio</span>
			<input type="password" placeholder="Número de socio" value="" id="partnerNumber" name="user_login" #user_login
			[(ngModel)] = "preregisterRequest.user_login" autocomplete="off" formControlName="user_login" 
			(keypress)="numbers($event)" [maxLength]="32"/>
			<i *ngIf="user_login.value != ''" class="icon icon-eye" (click)="showPass('partnerNumber');"></i>
		</label>
	</form>
</div>
<div class="row">
	<div class="col-md-10 offset-md-1 text-xs-right">
		<button routerLink="/login" routerLinkActive="active" class="btn-confirm">Cancelar</button>
		<button (click)="changeView('step-2')" routerLinkActive="active" class="btn-green">Continuar</button>
	</div>
</div>