<div class="map-contact">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<i class="icon icon-atm"></i>
				<p>
					ATM
					<span>360 días 24 hrs.</span>
				</p>
			</div>
			<div class="col-md-4">
				<i class="icon icon-bank"></i>
				<p>
					Sucursales
					<span>Lunes - Viernes de 9:00 - 16:00</span>
				</p>
			</div>
			<div class="col-md-4">
				<i class="icon icon-call"></i>
				<p>
					Tel&eacute;fono de atenci&oacute;n
					<span>01 800 7100 800</span>
				</p>
			</div>
		</div>
	</div>
</div>