<h5>Llama a nuestro Call Center al <b><a href="tel:018002242020">01 800 224 2020</a></b> y solicita tu código de activación.<br>Si ya lo tienes, ingrésalo a continuación.</h5>
<div class="row">
	<div class="col-md-10 offset-md-1">
		<label class="active">
			<span>Código de activación</span>
			<input type="password" placeholder="Código de activación" value="" id="activationPassword" name="activation_code" required [(ngModel)] = "preregisterRequest.activation_code"/>
			<i class="icon icon-eye" (click)="showPass('activationPassword');"></i>
		</label>
		<label class="active">
			<span>Número de socio</span>
			<input type="password" placeholder="Número de socio" value="" id="partnerNumber" name="user_login" required [(ngModel)] = "preregisterRequest.user_login"/>
			<i class="icon icon-eye" (click)="showPass('partnerNumber');"></i>
		</label>
	</div>
</div>
<div class="row">
	<div class="col-md-10 offset-md-1 text-xs-right">
		<button routerLink="/login" routerLinkActive="active" class="btn-confirm">Cancelar</button>
		<button (click)="changeView('step-2')" routerLinkActive="active" class="btn-green">Continuar</button>
	</div>
</div>