<app-navbar-simple [title]="'Desbloqueo de contraseña'"></app-navbar-simple>
<div class="container activation">
	<div class="row">
		<div class="col-md-10 offset-md-1">
			<div class="card shadow-second">
				<div *ngIf="myUrl == 'step-1'">
					<app-unlock-step-1 (routeView)="changeViewHandler($event)"></app-unlock-step-1>
				</div>
				<div *ngIf="myUrl == 'step-2'">
					<app-unlock-step-2 (routeView)="changeViewHandler($event)"></app-unlock-step-2>
				</div>
			</div>
		</div>
	</div>
</div>
<app-footer></app-footer>