<div class="card">
    <div class="table-responsive">
      <table class="table table-sm table-hover">
          <thead>
            <tr>
              <th>#</th>
              <th>Fecha</th>
              <th>Descripción</th>
              <th>Monto</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Mayo</td>
              <td>Descripción completa</td>
              <td>$ 100.00</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Enero</td>
              <td>Descripción completa</td>
              <td>$ 450.00</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Febrero</td>
              <td>Descripción completa</td>
              <td>$ 159.00</td>
            </tr>
          </tbody>
      </table>
    </div>
</div>
