<div class="card shadow-second">
  <label>
    <i class="icon icon-zoom"></i>
    <input type="text" placeholder="Buscar movimientos">
  </label>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Fecha</th>
          <th>Descripción</th>
          <th>Monto</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <h6>
              Mayo
              <span>18</span>
            </h6>
          </td>
          <td>Cargo por transferencia</td>
          <td>$ 100.00</td>
        </tr>
        <tr>
          <td>
            <h6>
              Mayo
              <span>15</span>
            </h6>
          </td>
          <td>Cargo por transferencia</td>
          <td>$ 450.00</td>
        </tr>
        <tr>
          <td>
            <h6>
              Mayo
              <span>10</span>
            </h6>
          </td>
          <td>Cargo por transferencia</td>
          <td class="negative">-$159.00</td>
        </tr>
        <tr class="month-change">
          <td>
            <h6>
              Abril
              <span>27</span>
            </h6>
          </td>
          <td>Cargo por transferencia</td>
          <td>$ 450.00</td>
        </tr>
        <tr>
          <td>
            <h6>
              Abril
              <span>19</span>
            </h6>
          </td>
          <td>Cargo por transferencia</td>
          <td class="negative">-$159.00</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>