<h3>Ingresa los datos para realizar la transferencia y presiona continuar</h3>
<div class="row">
	<div class="col-md-8 offset-md-2">
		<label class="options">
			<span>Cuenta retiro</span>
			<p>Cuenta retiro</p>
			<i class="icon icon-triangle-down"></i>
			<ul class="shadow-second">
				<li *ngFor="let ownAccount of ownAccounts" (click)="selectOwn(ownAccount._account_id)">
					{{ownAccount.description}}
				</li>
			</ul>
		</label>
		<label class="options">
			<span>Cuenta de d&eacute;posito</span>
			<p>Cuenta de d&eacute;posito</p>
			<i class="icon icon-triangle-down"></i>
			<ul class="shadow-second">
				<li *ngFor="let thirdAccount of thirdAccounts" (click)="selectThird(thirdAccount._account_id)">
					{{thirdAccount.alias}}
				</li>
			</ul>
		</label>
		<label>
			<span>Importe</span>
            <input type="text" placeholder="Importe" id="amount" name="amount" required [(ngModel)] = "amount" />
		</label>
		<label>
			<span>Concepto de pago</span>
            <input type="text" placeholder="Concepto de pago" id="concept" name="concept" required [(ngModel)] = "concept" />
		</label>
	</div>
</div>
<div class="row">
	<div class="col-md-8 offset-md-2 text-xs-right">
		<button class="btn-confirm">Cancelar</button>
		<button (click)="changeView('transferstep2')" routerLinkActive="active" class="btn-green">Continuar</button>
	</div>
</div>