@import ../../../variables

.home
	padding-top: 155px
.subheader
	position: fixed
	top: 75px
	left: 0
	right: 0
	background: black
	color: $divider-color
	p
		font-size: 1.1em
		text-align: center
		margin: 0
		padding: 0.5em 0
		cursor: pointer
		&.active
			color: white
			font-weight: bold
			border-bottom: 4px solid $primary-color