<app-navbar></app-navbar>
<div class="subheader">
	<div class="container">
		<div class="row">
			<div class="col-md-2">
				<p class="active">Dep&oacute;sito</p>
			</div>
			<div class="col-md-2">
				<p>Ahorro</p>
			</div>
			<div class="col-md-2">
				<p>Inversiones</p>
			</div>
			<div class="col-md-2">
				<p>Pr&eacute;stamo</p>
			</div>
		</div>
	</div>
</div>
<div class="container home">
    <div class="row">
        <app-accounts></app-accounts>
    </div>
</div>
<app-footer></app-footer>