<app-navbar></app-navbar>
<div class="subheader">
	<div class="container">
		<div class="row">
			<div class="col-md-2" (click)="opt = '0'">
				<p [ngClass]="{'active': opt == '0'}">Todas</p>
			</div>
			<div class="col-md-2" (click)="opt = '1'">
				<p [ngClass]="{'active': opt == '1'}">Ahorro</p>
			</div>
			<div class="col-md-2" (click)="opt = '2'">
				<p [ngClass]="{'active': opt == '2'}">Créditos</p>
			</div>
			<div class="col-md-2" (click)="opt = '3'">
				<p [ngClass]="{'active': opt == '3'}">Inversiones</p>
			</div>
		</div>
	</div>
</div>
<div class="container home">
    <div class="row">
		<p *ngIf="error.show">
			<span class="text-xs-center"><i class="icon icon-hold"></i></span>
			<span class="errorMessage">{{error.message}}</span>
		</p>
		<div class="col-md-4" *ngFor="let account of accounts">
			<div class="card shadow-second" *ngIf="account.account_type.substr(0,1) === opt || opt === '0'">
				<h3>
					{{account.description}}
					<span>{{account._account_id | shortaccount}}</span>
				</h3>
				<h4>
					<span *ngIf="account.total_balance === ''">${{account.total_balance}}</span>
					<span *ngIf="account.total_balance != ''">${{account.total_balance | number:'1.2-2' }}</span>
					<span>Saldo actual</span>
				</h4>
				<p>&Uacute;ltimo movimiento:</p>
				<div class="row last-mov">
					<div class="col-md-2 offset-md-1 text-xs-center">
						<h6>
						{{account.lastMovementDate | date:'MMMM' | translate }}
						<span>
							{{account.lastMovementDate | date:'d'}}
						</span>
						</h6>
					</div>
					<div class="col-md-8">
						<h6>
							{{account.lastMovementDescription}}
							<span [ngClass]="{'negative': account.lastMovementAmount < 0 }">Monto: ${{account.lastMovementAmount}}</span>
						</h6>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-10 offset-xs-1">
						<button [routerLink]="['/movements', account._account_id, account.description, account.total_balance]" routerLinkActive="active" class="btn-green btn-block">Movimientos</button>
					</div>
				</div>
			</div>
		</div>
    </div>
</div>
<app-footer></app-footer>