<h5>Para finalizar crea una contraseña y elige una imagen de seguridad para proteger tu cuenta.</h5>
<div class="row">
	<div class="col-md-10 offset-md-1">
		<label class="active">
			<span>Contraseña</span>
			<input type="password" placeholder="Contraseña" value="ososos" />
		</label>
		<label>
			<span>Contraseña</span>
			<input type="password" placeholder="Confirmar contraseña"/>
		</label>
		<p>Para confirmar tu contraseña debes ingresar exactamente los mismo caracteres del campo anterior.</p>
		<h3>Asegura tu cuenta</h3>
	</div>
</div>
<div class="row">
	<div class="col-md-8 offset-md-2">
		<ul>
            <li class="active">
                <span><i class="icon icon-thick"></i></span>
                <img class="img" src="assets/images/tmp/img1.png" alt="img1" />
            </li>
            <li>
                <span><i class="icon icon-thick"></i></span>
                <img class="img" src="assets/images/tmp/img2.png" alt="img1" />
            </li>
            <li>
                <span><i class="icon icon-thick"></i></span>
                <img class="img" src="assets/images/tmp/img3.png" alt="img1" />
            </li>
            <li>
                <span><i class="icon icon-thick"></i></span>
                <img class="img" src="assets/images/tmp/img4.png" alt="img1" />
            </li>
            <li>
                <span><i class="icon icon-thick"></i></span>
                <img class="img" src="assets/images/tmp/img5.png" alt="img1" />
            </li>
        </ul>
        <ul>
            <li>
                <span><i class="icon icon-thick"></i></span>
                <img class="img" src="assets/images/tmp/img6.png" alt="img1" />
            </li>
            <li>
                <span><i class="icon icon-thick"></i></span>
                <img class="img" src="assets/images/tmp/img7.png" alt="img1" />
            </li>
            <li>
                <span><i class="icon icon-thick"></i></span>
                <img class="img" src="assets/images/tmp/img8.png" alt="img1" />
            </li>
            <li>
                <span><i class="icon icon-thick"></i></span>
                <img class="img" src="assets/images/tmp/img9.png" alt="img1" />
            </li>
            <li>
                <span><i class="icon icon-thick"></i></span>
                <img class="img" src="assets/images/tmp/img10.png" alt="img1" />
            </li>
        </ul>
	</div>
</div>
<div class="row">
	<div class="col-md-10 offset-md-1 text-xs-right">
		<button (click)="changeView('reactivation')" routerLinkActive="active" class="btn-confirm">Cancelar</button>
		<button routerLink="/login" routerLinkActive="active" class="btn-green">Finalizar</button>
	</div>
</div>