<app-navbar></app-navbar>
<div class="subheader">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <p>Administraci&oacute;n</p>
            </div>
        </div>
    </div>
</div>
<div class="container administration">
	<div class="row">
		<div class="col-md-6">
			<div class="card shadow-second text-xs-center">
				<h3>Cambiar contrase&ntilde;a</h3>
				<div *ngIf="myUrl == 'administration'">
					<app-changePassStepOne (routeView)="changeViewHandler($event)"></app-changePassStepOne>
				</div>
				<div *ngIf="myUrl == 'changePassStepTwo'">
					<app-changePassStepTwo (routeView)="changeViewHandler($event)"></app-changePassStepTwo>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="card shadow-second text-xs-center">
				<h3>Bloqueo temporal</h3>
				<i class="icon icon-hold"></i>
				<button class="btn-green" (click)="staticModal.show()">Bloquear</button>
			</div>
		</div>
	</div>
</div>
<app-footer></app-footer>

<!-- <div class="modal fade" bsModal #staticModal="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Static modal</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="staticModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        This is static modal, backdrop click will not close it.
        Click <b>&times;</b> to close modal.
      </div>
    </div>
  </div>
</div> -->