<app-navbar-activation></app-navbar-activation>

<div class="container activation">
	<div class="row">
		<div class="col-md-10">
			<div class="card shadow-second">
				<div *ngIf="myUrl == 'activation'">
					<app-activation-step-1 (routeView)="changeViewHandler($event)"></app-activation-step-1>
				</div>
				<div *ngIf="myUrl == 'step-2'">
					<app-activation-step-2 (routeView)="changeViewHandler($event)"></app-activation-step-2>
				</div>
			</div>
		</div>
	</div>
</div>

<app-footer></app-footer>