<div class="row">
    <div class="col-xs-12 col-md-4">
        <div class="card shadow-second">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
            </p>
            <div class="row">
                <div class="col-xs-10 offset-xs-1">
                    <a routerLink="/movements" routerLinkActive="active"
                        role="button" class="btn btn-confirm btn-block">
                        Movimientos
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-4">
        <div class="card shadow-second">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
            </p>
            <div class="row">
                <div class="col-xs-10 offset-xs-1">
                    <a routerLink="/movements" routerLinkActive="active"
                        role="button" class="btn btn-confirm btn-block">
                        Movimientos
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-4">
        <div class="card shadow-second">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
            </p>
            <div class="row">
                <div class="col-xs-10 offset-xs-1">
                    <a routerLink="/movements" routerLinkActive="active"
                        role="button" class="btn btn-confirm btn-block">
                        Movimientos
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
