<app-navbar></app-navbar>
<div class="container promotions">
	<div class="row">
		<div class="col-md-4">
			<div class="card shadow-second">
				<h3>Gana hasta el 10% con tus  compras</h3>
				<img src="assets/images/promo1.jpg">
				<div class="row">
					<div class="col-md-8 offset-md-2">
						<p>Gana hasta el 10% de tus compras mensuales. Limite $3,000.00 MXN</p>
						<button class="btn-green btn-block">Ver detalles</button>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card shadow-second">
				<h3>Premios de verano</h3>
				<img src="assets/images/promo1.jpg">
				<div class="row">
					<div class="col-md-8 offset-md-2">
						<p>Gana hasta el 10% de tus compras mensuales. Limite $3,000.00 MXN</p>
						<button class="btn-green btn-block">Ver detalles</button>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card shadow-second">
				<h3>Cupones 10%</h3>
				<img src="assets/images/promo1.jpg">
				<div class="row">
					<div class="col-md-8 offset-md-2">
						<p>Cupones de 10% en establecimientos participantes.</p>
						<button class="btn-green btn-block">Ver detalles</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<app-footer></app-footer>