<app-navbar></app-navbar>
<div class="container promotions">
	<p *ngIf="error.show">
		<span class="text-xs-center"><i class="icon icon-hold"></i></span>
		<span class="errorMessage">{{error.message}}</span>
	</p>
	<div *ngFor="let linea of promotions" class="row">
		<div *ngFor="let promotion of linea">
			<div class="col-md-4">
				<div class="card show-second">
				<h3>{{promotion.title}}</h3>
				<div class="promo-image">
					<img width="352" height="130" src="{{promotion.url}}">
				</div>
				<div class="row">
					<div class="col-md-10 offset-md-1">
						<p>{{promotion.description}}</p>
						<button class="btn-green btn-block" (click)="window.open('google.com','_blank')">Ver detalles</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<app-footer></app-footer>