<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-md-6">
            <div class="welcome-msg">
                <h1 class="logo"></h1>
                <p><strong>Confianza que se comparte, confianza que se distingue.</strong></p>
                <p>Con más de <strong>115 mil socios y 39 sucursales</strong> distribuidoras en el noreste del pais, nos consolidamos como una de las cooperativas de mayor crecimiento.</p>
                <p><strong>Cooperativa Financiera,</strong> siempre contigo.</p>
                <p>Descarga nuestra aplicación.</p>
                <a href="">
                    <img src="assets/images/googleplay.svg" alt="Descarga la aplicaci&oacute;n para Android" />
                </a>
                <a href="">
                    <img src="assets/images/appstore.svg" alt="Descarga la aplicaci&oacute;n para iPhone" />
                </a>
            </div>
        </div>
        <div class="col-xs-12 col-md-6">
            <div class="card text-xs-center shadow-second">
                <div *ngIf="myUrl == 'login'">
                    <app-access (routeView)="changeViewHandler($event)"></app-access>
                </div>
                <div *ngIf="myUrl == 'confirmation'">
                    <app-access-confirmation (routeView)="changeViewHandler($event)"></app-access-confirmation>
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>