<div class="back login card">
    <div class="row head">
        <br/>
    </div>
    <div class="row logoBox">
        <div class="col-xs-12 col-md-1"><br/></div>
        <div class="col-xs-12 col-md-4">
            <div>
                <img class="logo" src="assets/images/logo.svg" alt="logo" />
            </div>
            <div>
                <br/><br/>
                <span><b>Confianza que se comparte, confianza que se distingue</b></span><br/>
                <p>Con más de <b>115 mil socios y 39 sucursales</b> distribuidoras en el noreste del pa&iacute;s, nos consolidamos como una de las cooperativas de mayor crecimiento</p>
            </div>
        </div>
        <div class="col-xs-12 col-md-1"><br/></div>
        <div class="col-xs-12 col-md-4 loginBox">
            <div>
                <div *ngIf="myUrl == 'login'">
                    <app-access (routeView)="changeViewHandler($event)"></app-access>
                </div>
                <div *ngIf="myUrl == 'confirmation'">
                    <app-access-confirmation (routeView)="changeViewHandler($event)"></app-access-confirmation>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-2"><br/></div>
    </div>
    <div class="row download">
        <div class="col-xs-12 col-md-1"><br/></div>
        <div class="col-xs-12 col-md-5">
            <span class="text-xs-center"><b>Cooperativa Financiera</b> siempre contigo.</span><br/>
            <span class="text-xs-center">Descarga nuestra aplicación.</span><br/>
            <img src="assets/images/googleplay.svg" alt="googleplay" />
            <img src="assets/images/appstore.svg" alt="applestore" />
        </div>
        <div class="col-xs-12 col-md-6"><br/></div>
    </div>
</div>
<div class="row footer">
        <div class="col-xs-12 col-md-12">
            <app-footer></app-footer>
        </div>
</div>
