.login
	height: 96%
.footer
	height: 4%
	color: white
	padding-left: 7%
	background-color: black
	font-size: 12px
.head
	height: 15%
.logoBox
	height: 60%
.download
	margin-top: -7%
.logo
	width: 100%