.container-fluid
	height: 100vh
	background: url(assets/images/bg.jpg) no-repeat center center
	background-size: cover

.welcome-msg
	margin: 10em 5em 0
	img
		width: 100px
		margin-right: 1em

.logo
	height: 3em
	margin-bottom: 1em
	background: url(assets/images/logo.svg) no-repeat left top
	background-size: 100% auto
	border-bottom: 1px solid #81b265

.card
	margin: 10em 10em 0
	padding: 1em;
