@import ../../../variables

.sebm-google-map-container
	position: absolute;
	top: 148px
	bottom: 110px
	left: 0
	right: 0

.subheader
	position: fixed
	z-index: 100
	top: 100px
	left: 0
	right: 0
	background: black
	color: $divider-color
	p
		font-size: 1.1em
		text-align: center
		margin: 0
		padding: 0.5em 0
		cursor: pointer
		&.active
			color: white
			font-weight: bold
			border-bottom: 4px solid $primary-color
	label
		display: block
		padding: 0.5em
		margin: 0
		border-bottom: 1px solid $secondary-text-color
		input
			color: white
			font-size: 0.9em
			margin-left: 0.5em
			background: none
			border: none
			&::-webkit-input-placeholder
			  color: $divider-color
			&::-moz-placeholder
			  color: $divider-color
			&:-ms-input-placeholder
			  color: $divider-color
			&:-moz-placeholder
			  color: $divider-color

//Responsive
@media screen and (max-width: 769px)
	.sebm-google-map-container
		position: static
		margin-top: 205px
		height: 250px