<div class="loginBox">
<h3>Bienvenido</h3>
<p>Ingresa a Cooperativa Financiera</p>
<div class="row">
    <div class="col-xs-10 offset-xs-1">
       <i class="icon icon-user"></i>
       <input class="user" type="text" placeholder="Usuario" />
    </div>
    <div class="col-xs-8 offset-xs-2">
        <button (click)="changeView('confirmation')" routerLinkActive="active" class="btn btn-confirm btn-block">
            Continuar
        </button>
        <a routerLink="/activation" routerLinkActive="active" class="small">Activaci&oacute;n de socio</a>
    </div>
    <div class="col-xs-8 offset-xs-2">
        <p>¿Ya tenias cuenta anteriormente?</p>
        <a routerLink="/reactivation" routerLinkActive="active" class="small">Reactivala aqu&iacute;</a>
    </div>
</div>
</div>