<div id="header">
    <div class="container">
        <div class="row">
            <div class="col-md-1">
                <img src="assets/images/logo-small.svg" class="logo">
            </div>
            <div class="col-md-5">
                <i class="icon icon-menu" (click)="mainMenu = !mainMenu;"></i>
                <ul class="main-menu" [ngClass]="{'active': mainMenu }">
                    <li routerLink="/home" routerLinkActive="active" class="active">
                        <span><i  class="icon-card icon"></i></span>
                        <p>Cuentas</p>
                    </li>
                    <li routerLink="/transfer" routerLinkActive="active">
                        <span><i  class="icon-bills icon"></i></span>
                        <p>Transferencias</p>
                    </li>
                    <li routerLink="/promotions" routerLinkActive="active">
                        <span><i  class="icon-medal icon"></i></span>
                        <p>Promociones</p>
                    </li>
                    <li routerLink="/map" routerLinkActive="active">
                        <span><i  class="icon-bank icon"></i></span>
                        <p>sucursales</p>
                    </li>
                </ul>
            </div>
            <div class="col-md-6 text-xs-right">
                <div class="user-log" [ngClass]="{'active': userMenu }" (click)="userMenu = !userMenu;">
                    <p>
                        Alan Silva Zamora
                        <span>Último acceso: 26 marzo 2016 | 17:10 por web</span>
                    </p>
                    <div>
                        <span class="profile">
                            <i class="icon-settings icon"></i>
                        </span>
                    </div>
                    <ul class="user-menu">
                        <li class="user">
                            Alan Silva Zamora
                            <span>Último acceso: 26 marzo 2016 | 17:10 por web</span>
                        </li>
                        <li routerLink="/administration" routerLinkActive="active">
                            <i class="icon icon-settings"></i>
                            Administraci&oacute;n
                        </li>
                        <li routerLink="/activateAccount" routerLinkActive="active">
                            <i class="icon icon-friends"></i>
                            Activar cuentas
                        </li>
                        <li routerLink="/contact" routerLinkActive="active">
                            <i class="icon icon-call"></i>
                            Contacto
                        </li>
                    </ul>
                    <button class="btn-white" (click)="logout()">Cerrar sesi&oacute;n</button>
                 </div>
            </div>
        </div>
    </div>
</div>