@import ../../../../variables
@import ../../../../mixins

#header
	position: fixed
	z-index: 900
	top: 0
	left: 0
	right: 0
	color: white
	background: $primary-color
	padding: 0.5em 0		
	.logo
		width: 90px
		height: auto
	.icon-menu
		display: none
		font-size: 2em
		margin: 10px 0 0 1.5em;
	.main-menu
		list-style: none
		margin: 0
		padding-top: 4%;
		li
			display: inline-block
			margin: 0 0.5em
			span
				display: block
				width: 40px
				height: 40px
				margin: auto
				overflow: hidden
				text-align: center
				+border-radius(50%)
				i
					font-size: 1.5em
					&:before
						line-height: 1.7em
			p
				font-size: 0.8em
				margin: 0;
				text-align: center
				cursor: pointer
			&.active
				span
					color: $primary-color
					background: white
				p
					text-transform: uppercase
					font-weight: bold
	.user-log
		margin-top: 0.5em
		position: relative
		cursor: pointer
		+animation-ease(200ms)
		p,div
			display: inline-block
			vertical-align: middle
		p
			font-size: 0.9em
			text-align: right
			margin: 0 0.5em
			padding: 0 0.5em
			border-right: 1px solid white
			span
				display: block
				font-size: 0.8em
		div
			text-align: center
			width: 40px
			height: 40px
			color: $secondary-text-color
			background: white
			overflow: hidden
			+border-radius(50%)
			i
				font-size: 1.4em
				&:before
					line-height: 1.8em
		&:hover,&:active
			i
				color: $primary-color
		&.active
			.user-menu
				display: block
		.btn-white
			font-size: 0.8em
			margin: 0 0 0 0.5em
		.user-menu
			display: none
			position: absolute
			z-index: 990
			min-width: 170px
			right: 115px
			top: 50px
			background: white
			color: $secondary-text-color
			list-style: none
			margin: 0
			padding: 0
			+box-shadow(rgba(0,0,0,0.4))
			+border-radius(0.5em)
			li
				text-align: left
				font-size: 0.9em
				padding: 0.5em 1em
				cursor: pointer
				i
					margin-right: 10px
					color: $primary-color
					&:before
						line-height: 0.8em
				&:hover,&:active
					color: $primary-color
				&.user
					display: none
					font-size: 0.7em
					cursor: default
					&:hover,&:active
						color: $secondary-text-color
					span
						display: block
			&:before
				content: ""
				display: block
				position: absolute
				top: -7px
				right: 10px
				width: 0
				height: 0
				border-left: 8px solid transparent
				border-right: 8px solid transparent
				border-bottom: 8px solid white	

//Responsive
@media screen and (max-width: 1201px)
	#header
		.main-menu
			li
				margin: 0
@media screen and (max-width: 993px)
	#header
		.icon-menu
			display: block
			cursor: pointer
		.main-menu
			display: none
			position: absolute
			top: 60px
			left: 50px
			background: white
			color: $secondary-text-color
			padding: 1em
			+box-shadow(rgba(0,0,0,0.4))
			+border-radius(0.5em)
			li
				display: block
				&.active
					color: $primary-color
			&:before
				content: ""
				display: block
				position: absolute
				top: -7px
				left: 20px
				width: 0
				height: 0
				border-left: 8px solid transparent
				border-right: 8px solid transparent
				border-bottom: 8px solid white
			&.active
				display: block
		.user-log
			p
				display: none
		.user-menu
			li.user
				display: block
@media screen and (max-width: 769px)
	#header
		.col-md-1
			display: none
		.col-md-6,
		.col-md-5
			float: left
			width: 50%
			.icon-menu
				margin-left: 0;
			.main-menu
				left: 0