<div>
    <div class="row">
        <div class="col-xs-12 col-md-10">
            <a routerLink="/home" routerLinkActive="active"
                role="button" class="btn btn-cancel">
                Cuentas
            </a>
            <a routerLink="/transfer" routerLinkActive="active"
                role="button" class="btn btn-cancel">
                Transferencias
            </a>
            <a routerLink="/map" routerLinkActive="active"
                role="button" class="btn btn-cancel">
                Sucursales
            </a>
            <a routerLink="/contact" routerLinkActive="active"
                role="button" class="btn btn-cancel">
                Contacto
            </a>
        </div>
        <div class="col-xs-12 col-md-2">
            <a routerLink="/login" routerLinkActive="active"
                role="button" class="btn btn-confirm btn-block">
                Cerrar
            </a>
        </div>
    </div>
</div>