    <div id="header">
        <div class="container">
            <div class="row">
                <div class="col-md-1">
                    <img src="assets/images/logo-small.svg" class="img_logo">
                </div>

                <div class="col-md-7">
                    <nav class="navbar navbar-toggleable-md">
                        <ul class="navbar-nav">
                            <li class="active nav-item">
                                <div routerLink="/home" routerLinkActive="active" role="" class="nav-link active">
                                    <i  class="icon-card icon "></i>
                                    <p>Cuentas</p>
                                </div>
                            </li>
                            <li class="nav-item">
                                <div routerLink="/transfer" routerLinkActive="active" role="" class="nav-link">
                                    <i  class="icon-bills icon"></i>
                                    <p>Transferencias</p>
                                </div>
                            </li>
                            <li class="nav-item">
                                <div routerLink="/map" routerLinkActive="active" role="" class="nav-link">
                                    <i  class="icon-medal icon"></i>
                                    <p>Promociones</p>
                                </div>
                            </li>
                            <li class="nav-item">
                                <div routerLink="/map" routerLinkActive="active" role="" class="nav-link">
                                    <i  class="icon-bank icon"></i>
                                    <p>Sucursales</p>
                                </div>
                            </li>
                          </ul>
                    </nav>
                </div>
                
                <div class="col-md-4">
                    <div class="cont_user">
                        <div class="cont_log">
                            <p>Alan Silva Zamora</p>
                            <p>Último acceso: 26 marzo 2016 | 17:10 por web</p>
                        </div>
                        <a class="btn_log">
                            <i class="icon-profile icon"></i>
                        </a>
                         <button routerLink="/login" routerLinkActive="active" class="btn-confirm exit">Salir</button>
                     </div>
                </div>
            </div>
        </div>
    </div>