.b-green
	background-color: #66B360
.b_pink
	background-color: pink
.b_trans
	background-color: transparent
.b_black
	background-color: black
.t_white
	color: white
.img_logo
	width: 100%
	min-width: 80px
.btn_menu
	width: 23.5%
	display: inline-block
	padding: 1%
	p
		display: block
		text-align: center
		font-size: 12px
	    font-weight: 300
	i
		display: block
		text-align: center
		font-size: 1em

.card
	border: solid 1px red
	width: 100%
.sub_menu
	padding: .5rem 1rem