<div class="subheader">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p>Activaci&oacute;n cuentas de terceros</p>
            </div>
        </div>
    </div>
</div>
<div class="container activate">
	<div class="row">
		<div class="col-md-12">
			<div class="card shadow-second">
				<h3>
					<span><i class="icon icon-thick"></i></span>
					La cuenta de terceros fué activada exitosamente.<br>A partir de un lapso de 30 minutos podrás hacer uso de tu nueva cuenta cuando realices una transferencia interbancaria.
				</h3>
				<div class="row">
				    <div class="col-md-8 offset-md-2">
				       <table class="table">
				           <tbody>
				               <tr>
				                   <td>Beneficiario:</td>
				                   <td>Alejandro Gallegos Garza</td>
				               </tr>
				               <tr>
				                   <td>Instituci&oacute;n:</td>
				                   <td>CSN</td>
				               </tr>
				               <tr>
				                   <td>No. de cuenta:</td>
				                   <td>***9876</td>
				               </tr>
				           </tbody>
				       </table>
				    </div>
				</div>
				<div class="row">
				    <div class="col-md-8 offset-md-2 text-xs-center">
				        <button (click)="changeView('activateAccountList')" routerLinkActive="active" class="btn-green">Aceptar</button>
				    </div>
				</div>
			</div>
		</div>
	</div>
</div>