<app-navbar></app-navbar>
<div class="subheader">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <h6 routerLink="/home" routerLinkActive="active">
                    <span><i class="icon icon-back"></i></span>
                    Regresar
                </h6>
            </div>
            <div class="col-md-2">
                <p>Movimientos</p>
            </div>
        </div>
    </div>
</div>
<div class="container movs">
    <div class="row">
        <div class="col-md-3">
            <div class="card shadow-second">
                <h3>
                    {{name}}
                    <span>{{account}}</span>
                </h3>
                <h4>
                    ${{balance}}
                    <span>Saldo actual</span>
                </h4>
            </div>
        </div>
        <div class="col-md-9">
            <app-movements-table></app-movements-table>
        </div>
    </div>
</div>
<app-footer></app-footer>