<div class="row">
	<div class="col-md-10 offset-md-1">
		<p *ngIf="error.show">
			<span class="text-xs-center"><i class="icon icon-hold"></i></span>
			<span class="errorMessage">{{error.message}}</span>
		</p>
		<h5>{{dataForUser.full_name}}</h5>
		<p>N&uacute;mero de socio: <b>{{account}}</b></p>
		<p>El bloqueo temporal impedirá que se tenga acceso a tu cuenta desde cualquier plataforma (web y móvil). <b>Da click en "Bloquear" para confirmar.</b></p>
	</div>
	<div class="col-md-10 offset-md-1 text-xs-right">
		<button class="btn-confirm" (click)="changeView('blockOne')" routerLinkActive="active">Cancelar</button>
		<button class="btn-green" (click)="block()" [disabled]="!block2Form.valid">Bloquear</button>
	</div>
</div>