<h5>Llama a nuestro Call Center al <b><a href="tel:018002242020">01 800 224 2020</a></b> y solicita tu código de activación.<br>Si ya lo tienes, ingrésalo a continuación.</h5>
<div class="row">
	<form [formGroup]="reactivation1Form" class="col-md-10 offset-md-1">
		<label class="">
			<span>Código de reactivación</span>
			<input type="password" placeholder="Código de reactivación" value="" id="activationPassword" name="activation_code" [(ngModel)] = "preregisterRequest.activation_code" formControlName="activation_code" autocomplete="off" (keypress)="numbers($event)" [maxLength]="6" />
			<i class="icon icon-eye" (click)="showPass('activationPassword');"></i>
		</label>
		<label class="">
			<span>Número de socio</span>
			<input type="password" placeholder="Número de socio" value="" id="partnerNumber" name="user_login" [(ngModel)] = "preregisterRequest.user_login" formControlName="user_login" autocomplete="off" (keypress)="numbers($event)" [maxLength]="32"/>
			<i class="icon icon-eye" (click)="showPass('partnerNumber');"></i>
		</label>
	</form>
</div>
<div class="row">
	<div class="col-md-10 offset-md-1 text-xs-right">
		<button routerLink="/login" routerLinkActive="active" class="btn-confirm">Cancelar</button>
		<button (click)="changeView('step-2')" routerLinkActive="active" class="btn-green" [disabled]="!reactivation1Form.valid">Continuar</button>
	</div>
</div>