<div class="row">
	<p *ngIf="error.show">
		<span class="text-xs-center"><i class="icon icon-hold"></i></span>
		<span class="errorMessage">{{error.message}}</span>
	</p>
	<h5>{{dataForUser.full_name}}</h5>
	<p>N&uacute;mero de socio: <b>{{account}}</b></p>
	<form [formGroup]="changePassForm" class="col-md-10 offset-md-1 text-xs-left">
		<!-- <label>
			<input type="password" placeholder="contraseña actual" [(ngModel)] = "old_password" formControlName="old_password">
		</label> -->
		<label>
			<input type="password" placeholder="Nueva contraseña" [(ngModel)] = "new_password" formControlName="new_password" [maxLength]="15">
		</label>
		<label>
			<input type="password" placeholder="Confirmar contraseña" [(ngModel)] = "verify_password" formControlName="verify_password" [maxLength]="15">
		</label>
		<p>Para confirmar tu contraseña debes ingresar exactamente los mismos caracteres del campo anterior.</p>
	</form>
	<div class="col-md-10 offset-md-1 text-xs-right">
		<button class="btn-confirm" (click)="changeView('administration')" routerLinkActive="active">Cancelar</button>
		<button class="btn-green" (click)="changePassword()">Cambiar</button>
	</div>
</div>