<h3>Revisa los datos de la transferencia, si son correctos ingresa tu contraseña para continuar</h3>
<div class="row">
    <div class="col-md-8 offset-md-2">
       <table class="table">
           <tbody>
               <tr>
                   <td>Cuenta de retiro:</td>
                   <td>Cuenta Mexicana ***270</td>
               </tr>
               <tr>
                   <td>Cuenta de dep&oacute;sito:</td>
                   <td>Servicuenta ***386</td>
               </tr>
               <tr>
                   <td>Importe:</td>
                   <td>$12,000.00</td>
               </tr>
               <tr>
                   <td>Concepto de pago:</td>
                   <td>Pago renta</td>
               </tr>
           </tbody>
       </table>
    </div>
</div>
<div class="row">
    <div class="col-md-8 offset-md-2 text-xs-right">
        <button (click)="changeView('transfer')" routerLinkActive="active" class="btn-confirm">Regresar</button>
        <button (click)="transfer('transferstep3')" routerLinkActive="active" class="btn-green">Continuar</button>
    </div>
</div>